<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,394},{114,157}}</string>
                <key>offset</key>
                <string>{-8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,60},{114,157}}</string>
                <key>sourceSize</key>
                <string>{130,217}</string>
            </dict>
            <key>dog1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{108,179}}</string>
                <key>offset</key>
                <string>{-11,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{108,179}}</string>
                <key>sourceSize</key>
                <string>{130,217}</string>
            </dict>
            <key>dog1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,203},{110,189}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{110,189}}</string>
                <key>sourceSize</key>
                <string>{130,217}</string>
            </dict>
            <key>dog1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{120,199}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{120,199}}</string>
                <key>sourceSize</key>
                <string>{130,217}</string>
            </dict>
            <key>dog1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,199}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{124,199}}</string>
                <key>sourceSize</key>
                <string>{130,217}</string>
            </dict>
            <key>dog1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,183},{128,161}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{128,161}}</string>
                <key>sourceSize</key>
                <string>{130,217}</string>
            </dict>
            <key>dog1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,346},{130,157}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{130,157}}</string>
                <key>sourceSize</key>
                <string>{130,217}</string>
            </dict>
            <key>dog1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{120,157}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{120,157}}</string>
                <key>sourceSize</key>
                <string>{130,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dog1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6465c68dc944275e445dd658cc1065e1:1/1$</string>
            <key>textureFileName</key>
            <string>dog1.png</string>
        </dict>
    </dict>
</plist>
