<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{115,143}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{115,143}}</string>
                <key>sourceSize</key>
                <string>{115,153}</string>
            </dict>
            <key>dog5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{115,143}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{115,143}}</string>
                <key>sourceSize</key>
                <string>{115,153}</string>
            </dict>
            <key>dog5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,143}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{115,143}}</string>
                <key>sourceSize</key>
                <string>{115,153}</string>
            </dict>
            <key>dog5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{115,139}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{115,139}}</string>
                <key>sourceSize</key>
                <string>{115,153}</string>
            </dict>
            <key>dog5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{113,139}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{113,139}}</string>
                <key>sourceSize</key>
                <string>{115,153}</string>
            </dict>
            <key>dog5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{109,127}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{109,127}}</string>
                <key>sourceSize</key>
                <string>{115,153}</string>
            </dict>
            <key>dog5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,119},{115,137}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{115,137}}</string>
                <key>sourceSize</key>
                <string>{115,153}</string>
            </dict>
            <key>dog5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,117},{115,137}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{115,137}}</string>
                <key>sourceSize</key>
                <string>{115,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dog5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46f24f43f3f25a330beea5e71e1c3356:1/1$</string>
            <key>textureFileName</key>
            <string>dog5.png</string>
        </dict>
    </dict>
</plist>
