<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>win01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,338},{110,198}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{112,198}</string>
            </dict>
            <key>win01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,226},{110,198}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{112,198}</string>
            </dict>
            <key>win01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,202},{110,198}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{112,198}</string>
            </dict>
            <key>win01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{110,198}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{112,198}</string>
            </dict>
            <key>win01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{110,198}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{112,198}</string>
            </dict>
            <key>win01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,198}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{112,198}</string>
            </dict>
            <key>win01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{110,198}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{112,198}</string>
            </dict>
            <key>win01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,198}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{112,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5144032c35935cefb73766653e62c3c:1/1$</string>
            <key>textureFileName</key>
            <string>win01.png</string>
        </dict>
    </dict>
</plist>
